.container {
  padding: 15px;
  border: 3px solid var(--accent-color);
  border-radius: 5px;
  background-color: rgba(0, 255, 0, 0.1);
}
.container:not(:last-child) {
  margin-bottom: 20px;
}
.number {
  font-weight: 500;
}
.name {
  color: var(--accent-color);
  composes: link from '../../index.css';
  text-decoration: underline solid var(--accent-color);
}
.name:visited {
  color: var(--accent-color);
  text-decoration: underline solid var(--accent-color);
}
.text {
  color: var(--accent-color);
  font-size: 20px;
}
.image {
  width: 100%;
  margin-bottom: 10px;
}
.playlistContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
}
.playlistItemContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgba(0, 255, 0, 0.05);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 5px;
}
.playlistItemContainer:not(:last-child) {
  margin-bottom: 10px;
}
.playAllIcon,
.addMusicIcon {
  min-width: 25px;
  min-height: 25px;
  width: 25px;
  height: 25px;
  fill: var(--accent-color);
  margin-left: 10px;
  cursor: pointer;
}
.playAllTitle,
.title {
  color: var(--accent-color);
  font-weight: 500;
}
.playAllContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}
