.container {
  display: flex;
  justify-content: center;
}
.label {
  color: var(--accent-color);
  display: inline-block;
}
.label:not(:last-child) {
  margin-bottom: 10px;
}
.radioLabel:not(:last-child) {
  margin-right: 10px;
}
.input {
  border: 2px solid var(--table-border);
  margin-left: 10px;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.input::placeholder {
  color: var(--accent-color);
}
.input:focus {
  border: 2px solid var(--accent-color);
}
.radio {
  margin-right: 5px;
}
.button {
  background-color: green;
  color: white;
  border: 2px solid #338736; /* зеленый оттенок из палитры Material Design */
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

.button:hover {
  background-color: #338736;
  border-color: #338736;
  cursor: pointer;
}

.button:active {
  background-color: green;
}
