.authButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--accent-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.authPhoto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  z-index: 20;
  background-color: white;
  scrollbar-color: var(--accent-color);
  scrollbar-base-color: var(--accent-color);
  text-align: center;
}
.closeButton {
  position: absolute;
  right: calc((50px));
  transform: translate(50%, 50%);
  z-index: 25;
  background-color: transparent;
  border: none;
  padding: 0;
  color: black;
  transition: color 250ms ease-in-out;
}
.closeButton:hover {
  color: var(--accent-color);
}

.closeIcon {
  stroke: currentColor;
  stroke-width: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid currentColor;
  background-color: white;
}
@media screen and (max-width: 767) {
  .authButton {
    margin-bottom: 50px;
  }
}
.widgetContainer {
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  border: 3px solid var(--accent-color);
}
.loggedPfp {
  width: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid var(--accent-color);
  margin-right: auto;
  margin-left: auto;
}
.name {
  color: var(--accent-color);
  font-weight: 500;
  margin-bottom: 20px;
}
.authMessage {
  margin-top: 0;
  margin-bottom: 20px;
}
