:root {
  --table-header: #aed581;
  --table-border: #388e3c;
  --table-row-primary: #dcedc8;
  --table-row-secondary: #c5e1a5;
}
.tableDescription {
  color: black;
  text-align: center;
  font-weight: 500;
  margin-top: 0;
}
.disclaimer {
  color: black;
  text-align: center;
}
.bioSpan {
  color: var(--accent-color);
  font-weight: 500;
  text-decoration: underline;
}
.search {
  border: 2px solid var(--table-border);
  margin-right: 10px;
  width: 100%;
}
.search::placeholder {
  color: var(--table-border);
}
.searchField {
  display: flex;
  align-items: center;
  justify-content: right;
}
.totalAndSearchContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  margin-right: auto;
}
.searchContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 10px;
}
.totalCounter {
  font-weight: 500;
  color: var(--table-border);
  margin-right: auto;
  margin-bottom: 10px;
}
.searchIcon {
  margin-right: 15px;
  fill: var(--accent-color);
  width: 20px;
  height: 20px;
  display: inline-block;
}
.checkboxesList {
  display: flex;
  align-items: center;
  justify-content: right;
}
.checkboxLabel {
  color: var(--accent-color);
  margin-right: 10px;
}
.checkbox {
  margin-right: 5px;
}
/* .checkbox {
  pointer-events: none;
  width: 0;
  height: 0;
  overflow: visible;
}
.checkbox::after {
  margin-right: 5px;
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  background-color: tomato;
  background-image: url(../../images/checkbox-off.svg);
  fill: green;
}
.checkbox:checked::after {
  background-color: green;
} */
.thead {
  position: sticky;
  top: -1px;
}
.tableContainer {
  max-height: 300px;
  overflow: scroll;
  width: 100%;
  margin-bottom: 20px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--table-border);
  position: relative;
}
.tbody {
}
.sortedUp,
.sortedDown {
  fill: var(--accent-color);
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-top: 10px;
}
.th,
.td {
  text-align: left;
  padding: 8px;
}

.th {
  font-weight: bold;
  background-color: var(--table-header);
}
.tr {
  background-color: var(--table-row-secondary);
}
.tr:nth-child(2n) {
  background-color: var(--table-row-primary);
}
.showingGameContainer {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.showingGameName {
  color: var(--accent-color);
  text-decoration: underline;
}
.showingGameTitle {
  margin-bottom: 20px;
  margin-left: 20px;
}
.playersList {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}
.playersItem {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-right: auto;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: left;
}
.playerProfile::before {
  content: '';
  display: block;
  background-color: var(--accent-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.playerProfile {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}
.playerPfp {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 15px;
}
.playerName {
  margin-right: 0.5em;
}
.playerRating {
  font-weight: 500;
  margin-left: 15px;
}
.onGoing,
.completed,
.rarely,
.forbidden {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* изменяем толщину на 2 пикселя */
  margin-left: 15px;
  font-weight: 500;
}
.onGoing {
  text-decoration-color: green; /* изменяем цвет на синий */
}
.completed {
  text-decoration-color: green; /* изменяем цвет на синий */
}
.rarely {
  text-decoration-color: orange; /* изменяем цвет на синий */
}
.forbidden {
  text-decoration-color: red; /* изменяем цвет на синий */
}
@media screen and (max-width: 767px) {
  .checkboxesList {
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .playersItem {
    flex-direction: row;
    width: fit-content;
    align-items: center;
  }
}
